/* default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: auto;
    color: #fff;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
button {
    outline: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    max-width: 1360px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
.btn-default {
    background: #fff;
    color: #2f4e4d;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    font-size: 30.61px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header */
.header {
    padding-top: 32px;
    display: flex;
}
/* logo */
.logo-white {
    margin-right: 66px;
} 
/* menu */
.menu__list{
    display: flex;
}
.menu__item {
    padding: 12px 16px;
    margin-right: 16px;
    text-transform: uppercase;

}
.menu__item--active{
    background: #7c8f8f;
    color: #2f4e4d;
    border: 1px solid #274544;
}
.menu__link{
    font-size: 18.14px;
}

/* main page */
.main {
    width: 100%;
    min-height: 100vh;
    background: #2f4e4d;
}
.main-wrapper{
    display: flex;
}

.main-title{
    font-weight: 700;
    font-size: 109px;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 80px;
}
.main-text {
    width: 801px;
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 88px;
}
.main-button{
    width: 420px;
    height: 80px;
    margin-bottom: 180px;
}

.main-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.main-slider__item{
    position: absolute;
    top: 0;
    right: -80px;
    width: calc(100% + 80px);
    overflow: hidden;
}