.input{
    line-height: 12px;
    font-size: $text-size-small;
    margin-top: 5px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 10px;
    outline: inherit;
    width: 100%;
    margin-bottom: 10px;

    &__wrapper{
        max-width: 211px;
    }

    &__error{
        border: 1px solid #fc0000;
    }
}