
$text-family-default: 'Roboto';
$text-style-default: normal;

$text-weight-default: 400;
$text-weight-title: 700;

$text-size-default: 11px;
$text-size-small: 10px;
$text-size-medium: 12px;
$text-size-large: 14px;

$text-color-default : #000;
$text-color-primary : #fff;
$text-color-secondary : #A3A3A3;
$text-color-additional : #4B51EF;


$bg-color-default : #BDBDBD;
$bg-color-primary: #F3F3F3;


$button-color-default : #4B51EF;
$button-color-primary : #52CF4F;
$button-color-secondary : #AFAFAF;
